<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510279437132-7a6g1ss1ia41g15ickqp85lv7hs4e8kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510279437132-7a6g1ss1ia41g15ickqp85lv7hs4e8kk</string>
	<key>API_KEY</key>
	<string>AIzaSyBVQ8-4wzdUJWyIhsFR3ARsIij3ddPnMyk</string>
	<key>GCM_SENDER_ID</key>
	<string>510279437132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyphertree.owomaniya</string>
	<key>PROJECT_ID</key>
	<string>women-authentication-protcol</string>
	<key>STORAGE_BUCKET</key>
	<string>women-authentication-protcol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510279437132:ios:5ded7a3862e4dc47</string>
	<key>DATABASE_URL</key>
	<string>https://women-authentication-protcol.firebaseio.com</string>
</dict>
</plist>